<!DOCTYPE html>
<html>

<head>
    <title>New tab</title>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/clock.css">  
    <!-- <link rel="stylesheet" type="text/css" href="/css/flipclock.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="/css/clock-resize.css"> -->
</head>

<body>
	<div id="main-wrapper">
		<!-- underlay -->
		<div class="underlay flex-container" id="underlay">
			<div class="row">
				<div class="flex-item">
					<img class='icon-large' src="/img/splashCoffee-white.svg">
				</div>
			</div>
		</div>
		<!-- images -->
		<div class="background" id="background"></div>
		<!-- overlay -->
		<div class="overlay" id="overlay">
			<div class="flex-container">
				<div class="row">
					<div id="clock" class="light">
						<div class="display">
							<div class="date"></div>
							<div class="digits">
							</div>
						</div>
					</div>

					<div class="button-holder">
						<a class="alarm-button"></a>
					</div>

				</div>
				</div>
			</div>
			<!-- bottom left -->
			<div class='bottom-left'>
				<img class='icon-small download' id="download" src="/img/icon-download.svg">
			</div>
		</div>
	</div>
</body>
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/flipclock.min.js"></script>
<script src="/js/background.js"></script>
<script src="/js/moment.js"></script>
<script src="/js/timer.js"></script>
</html>
