<!DOCTYPE html>
<html>

<head>
    <title>New tab</title>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css"> 
    <link rel="stylesheet" type="text/css" href="/css/style.css"> 
</head>

<body>
	<div id="main-wrapper">
		<!-- underlay -->
		<div class="underlay flex-container">
			<div class="row">
				<div class="flex-item">
					<img class='icon-large' src="/assets/splashCoffee-white.svg">
				</div>
			</div>
		</div>
		<!-- images -->
		<div class="background" id="background"></div>
		<!-- overlay -->
		<div class="overlay">
			<!-- bottom left -->
			<div class='bottom-left' id='action'>
				<img class='icon-small download' id="download" src="/assets/icon-download.svg">
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/js/background.js"></script>
</html>
